<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{table_master}">

<head>
    <meta charset="utf-8"/>
    <title>服务类别管理</title>
</head>

<body>

<script th:inline="javascript" layout:fragment="script">
    /*<![CDATA[*/
    formOption.entityName ="serviceCategory";
    $(function () {
        //1.初始化Table
        var TableInit = function () {
            var oTableInit = {};
            oTableInit.Init = function () {
                var option = $.extend(global.bootstrapTableOptions, {
                    url: global.contextPath + '/service/data/categoryList',         //请求后台的URL（*）
                    method: 'get',                      //请求方式（*）
                    detailView: false,
                    showExport: true                  //是否显示导出
                });
                option.addColumns([{
                    checkbox: true
                }, {
                    field: 'name',
                    title: '分类名称'
                }, {
                    field: 'parentName',
                    title: '父分类名称'
                }, {
                    field: 'description',
                    title: '描述'
                }
                ]);
                $('#listTable').bootstrapTable(option);
            };
            return oTableInit;
        };
        var oTable = new TableInit();
        oTable.Init();
    });
    /*]]>*/
</script>
</body>

</html>