<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="table_master">

<head>
    <meta charset="utf-8"/>
    <title>服务项目管理</title>
</head>

<body>

<script th:inline="javascript" layout:fragment="script">
    /*<![CDATA[*/
    formOption.entityName = "serviceItem";
    $(function () {
        //1.初始化Table
        var TableInit = function () {
            var oTableInit = {};
            oTableInit.Init = function () {
                var option = $.extend(global.bootstrapTableOptions, {
                    url: global.contextPath + '/service/data/itemList'
                });
                option.addColumns(
                        [{
                            checkbox: true
                        }, {
                            field: 'name',
                            title: '名称'
                        }, {
                            field: 'icon',
                            title: '图标'
                        }, {
                            field: 'categoryName',
                            title: '所属分类名称'
                        }, {
                            field: 'description',
                            title: '描述'
                        }
                        ]
                );
                $('#listTable').bootstrapTable(option);
            };
            return oTableInit;
        };
        var oTable = new TableInit();
        oTable.Init();
    });
    /*]]>*/
</script>
</body>

</html>