<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <title>维修帮- 登录</title>
    <meta name="keywords" content="维修帮"/>
    <meta name="description" content=""/>
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet"/>
    <link href="css/animate.min.css" rel="stylesheet"/>
    <link href="css/style.min.css" rel="stylesheet"/>
    <link href="css/login.min.css" rel="stylesheet"/>
    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html"/>
    <![endif]-->
    <script>
        if (window.top !== window.self) {
            window.top.location = window.location
        }
        ;
    </script>

</head>

<body class="signin">
<div class="signinpanel">
    <div class="row">
        <div class="col-sm-7">
            <div class="signin-info">
                <div class="logopanel m-b">
                    <h1>维修帮</h1>
                    <h3>您身边的好帮手</h3>
                </div>
                <div class="m-b"></div>

            </div>
        </div>
        <div class="col-sm-5">
            <form method="post" th:action="@{/login}">
                <h4 class="no-margins">登录：</h4>
                <p class="m-t-md">登录到维修帮后台管理系统</p>
                <input type="text" class="form-control uname" name="username" placeholder="用户名"/>
                <input type="password" class="form-control pword m-b" name="password" placeholder="密码"/>
                <!--<a href="#">忘记密码了？</a>-->
                <button class="btn btn-success btn-block">登录</button>
                <div th:if="${param.error}" style="color:red">
                    用户名或密码错误
                </div>
                <div th:if="${param.logout}" style="color:green">
                    您已注销成功
                </div>
            </form>
        </div>
    </div>
    <div class="signup-footer">
        <div class="pull-left">
            &copy; 2016 All Rights Reserved. Yay
        </div>
    </div>
</div>
</body>


</html>
