<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>维修帮</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>

    <link rel="shortcut icon" href="favicon.ico"/>
    <link th:href="@{../css/bootstrap.min14ed.css?v=3.3.6}" rel="stylesheet"/>
    <link th:href="@{../css/font-awesome.min93e3.css?v=4.4.0}" rel="stylesheet"/>
    <link th:href="@{../css/plugins/bootstrap-table/bootstrap-table.min.css}" rel="stylesheet"/>
    <link th:href="@{../css/animate.min.css}" rel="stylesheet"/>
    <link th:href="@{../css/style.min862f.css?v=4.1.0}" rel="stylesheet"/>


</head>

<!--<body class="gray-bg">-->
<body>
<!--<div layout:fragment="content"></div>-->
<div>
    <div layout:fragment="toolbar">
        <div class="col-sm-12">
            <div class="btn-group hidden-xs" id="toolbar" role="group">
                <button id="tool_new" type="button" class="btn btn-outline btn-default">
                    <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
                </button>
                <button id="tool_edit" type="button" class="btn btn-outline btn-default">
                    <i class="glyphicon glyphicon-edit" aria-hidden="true"></i>
                </button>
                <button id="tool_del" type="button" class="btn btn-outline btn-default">
                    <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
    <div layout:fragment="table">
        <table id="listTable" data-mobile-responsive="true"></table>
    </div>

</div>
<!--脚本引用-->
<script th:src="@{../js/jquery.min.js?v=2.1.4}"></script>
<script th:src="@{../js/bootstrap.min.js?v=3.3.6}"></script>
<script th:src="@{../js/plugins/bootstrap-table/bootstrap-table.min.js}"></script>
<!--<script th:src="@{../js/plugins/bootstrap-table/bootstrap-table-mobile.min.js}"></script>-->
<script th:src="@{../js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js}"></script>
<script th:src="@{../js/plugins/bootstrap-table/extensions/export/bootstrap-table-export.min.js}"></script>
<script th:src="@{../js/plugins/bootstrap-table/extensions/export/tableExport.js}"></script>
<!--<script th:src="@{../js/plugins/bootstrap-table/extensions/toolbar/bootstrap-table-toolbar.min.js}"></script>-->

<!--<script th:src="@{../js/plugins/validate/jquery.validate.min.js}"></script>-->
<!--<script th:src="@{../js/plugins/validate/messages_zh.min.js}"></script>-->
<script th:src="@{../layui/layui.js}"></script>

<script th:inline="javascript">
    /*<![CDATA[*/
    Date.prototype.format = function (format) {
        var date = {
            "M+": this.getMonth() + 1,
            "d+": this.getDate(),
            "h+": this.getHours(),
            "m+": this.getMinutes(),
            "s+": this.getSeconds(),
            "q+": Math.floor((this.getMonth() + 3) / 3),
            "S+": this.getMilliseconds()
        };
        if (/(y+)/i.test(format)) {
            format = format.replace(RegExp.$1, (this.getFullYear() + '').substr(4 - RegExp.$1.length));
        }
        for (var k in date) {
            if (new RegExp("(" + k + ")").test(format)) {
                format = format.replace(RegExp.$1, RegExp.$1.length == 1
                        ? date[k] : ("00" + date[k]).substr(("" + date[k]).length));
            }
        }
        return format;
    };
    window.global = {};
    window.global.contextPath =/*[[${#httpServletRequest.getContextPath()}]]*/;
    window.global.bootstrapTableSelecor = "#listTable";
    window.global.bootstrapTableOptions = {
        method: 'get',                      //请求方式（*）
        toolbar: '#toolbar',                //工具按钮用哪个容器
        striped: true,                      //是否显示行间隔色
        cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
        pagination: true,                   //是否显示分页（*）
        sortable: true,                     //是否启用排序
        sortOrder: "asc",                   //排序方式
        queryParams: function (params) {
            return {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
                pageSize: params.limit,   //页面大小
                pageIndex: params.offset / params.limit //页码
            };
        },
        sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
        pageNumber: 1,                       //初始化加载第一页，默认第一页
        pageSize: 10,                       //每页的记录行数（*）
        pageList: [10, 25, 50, 100],        //可供选择的每页的行数（*）
        search: true,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
        strictSearch: true,
        searchOnEnterKey: true,
        undefinedText: "",
        escape: true,
        showColumns: true,                  //是否显示所有的列
        showExport: true,                     //是否显示导出
        exportDataType: "all",              //basic', 'all', 'selected'.
        showRefresh: true,                  //是否显示刷新按钮
        minimumCountColumns: 2,             //最少允许的列数
        clickToSelect: true,                //是否启用点击选中行
        height: 560,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
        uniqueId: "id",                     //每一行的唯一标识，一般为主键列
        showToggle: true,                    //是否显示详细视图和列表视图的切换按钮
        cardView: false,                    //是否显示详细视图
        detailView: false,          //是否显示父子表
        columns: [
            {
                field: 'action',
                title: '操作',
                formatter: function (value, row, index) {
                    return [
                        '<a  href="javascript:void(0)" class="review btn btn-sm green" title="点击查看详情">',
                        '<i class="fa fa-plus">查看详情</i>',
                        '</a>'
                    ].join('');
                },
                events: {
                    'click .review': function (e, value, row, index) {
                        if (window.formOption.entityName) {
                            var id = row.id;
                            layer.open({
                                title: '查看详情',
                                type: 2,
                                area: ['700px', '300px'],
                                content: global.contextPath + "/" + window.formOption.entityName + "/review?id=" + id
                            });
                        }
                    }
                }
            }
        ],
        addColumns: function (columns) {
            for (var i = columns.length - 1; i >= 0; i = i - 1)
                this.columns.unshift(columns[i]);
        }
    };
    window.formOption = {};
    $(function () {
        var layer;
        layui.use('layer', function () {
            layer = layui.layer;
        });
        //新建时的模态对话框
        $("#tool_new").click(function () {
            if (window.formOption.entityName)
                var index = layer.open({
                    title: '新建',
                    type: 2,
                    area: ['700px', '300px'],
                    content: global.contextPath + "/" + formOption.entityName + "/create",
                    cancel: function () {
                        refresh();
                    }
                });
        });
        //编辑时的模态对话框
        $("#tool_edit").click(function () {
            if (window.formOption.entityName) {
                var selectedRows = $(global.bootstrapTableSelecor).bootstrapTable('getSelections');
                if (selectedRows.length == 0) {
                    layer.alert("请选择要编辑的行！");
                    return false;
                }
                var id = selectedRows[0].id;
                layer.open({
                    title: '修改',
                    type: 2,
                    area: ['700px', '300px'],
                    content: global.contextPath + "/" + formOption.entityName + "/edit" + "?id=" + id,
                    cancel: function () {
                        refresh();
                    }
                });
            }
        });
        $("#tool_del").click(function () {
            var selectedRows = $(global.bootstrapTableSelecor).bootstrapTable('getSelections');
            var idArray = [];
            if (selectedRows) {
                selectedRows.map(function (row, i) {
                    idArray.push(row.id);
                });
            }
            if (idArray.length == 0) {
                layer.alert("请选择要删除的行！");
                return false;
            }
            layer.confirm('确定要删除已选记录？', {
                btn: ['确定', '我再想想'] //按钮
            }, function () {
                var ids = idArray.join(",");
                $.post(global.contextPath + "/" + formOption.entityName + "/delete", {"ids": ids}, function (data) {
                    if (data == true) {
                        layer.msg('删除成功！', {icon: 1});
                        refresh();
                    }
                    else
                        layer.msg('删除失败！', {icon: 2});
                });
            }, function () {
            });
        });

        //页面的刷新函数
        function refresh() {
            $(global.bootstrapTableSelecor).bootstrapTable('refresh', {silent: true});
        }
    });
    /*]]>*/
</script>

<!--子页面的脚本-->
<div layout:fragment="script"></div>
</body>


</html>
